[submodule "extern/taskflow"]
	path = art_extern/taskflow
	url = https://github.com/blackfatcat/taskflow

[submodule "extern/flecs"]
	path = art_extern/flecs
	url = https://github.com/blackfatcat/flecs

[submodule "extern/SDL"]
	path = art_extern/sdl
	url = https://github.com/blackfatcat/SDL